<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservasiruangan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReceiptReview"></activity>
        <activity
            android:name=".formpesen"
            android:label="@string/title_activity_formpesen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailRuangan"
            android:label="@string/title_activity_detail_ruangan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aboutus"
            android:label="@string/title_activity_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanDenah"
            android:label="@string/title_activity_halaman_denah"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register" />
        <activity
            android:name=".HalamanAwal"
            android:label="@string/title_activity_halaman_awal"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.reservasiruangan.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
    </application>

</manifest>